<%= form_for(@comment, url: micropost_comments_path(@micropost)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create new comment...", class: 'form-control'%>
  </div>
  <%= f.submit "Done", class: "btn btn-primary" %>
<% end %>
